* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(120deg, #11a0a0f8, #2dff61);
  color: rgb(224, 245, 227);
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
form button {
  color: #11a0a0f8;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}
form button :hover {
  color: white;
  background: #11a0a0f8;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  color: black;
  margin: 0.5rem;
  background: white;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  color: white;
  border: none;
  background: #2dff61;
  padding: 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.trash-btn {
  background: tomato;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
